body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: red;

  background-image: url('../images/1.png');


  @media (max-width: 700px) {
    background-color: blue;
  }
}

.test {
  color: #fff;
  @media (max-width: 700px) {
    background-color: blueviolet;
  }
}

@import './blocks/test';
